@import "tailwindcss";

:root {
  --background: #F8F9FA;
  --primary: #212529;
  --btn-text: #FFFFFF;
  --btn-primary: #F97316;
  --success: #4B7A48;
  --alert: #FAB916;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --foto-fundo: var(--foto-fundo);
  --color-btn-primary: var(--btn-primary);
  --color-btn-text: var(--btn-text);
  --color-success: var(--success);
  --color-alert: var(--alert);
}

.btn {
  @apply bg-btn-primary py-3 px-5 rounded-2xl text-btn-text cursor-pointer 
         hover:bg-btn-primary/50 active:bg-btn-primary/90 transition duration-500;
}

/*
Cores Laranja: #f7417
Verde: #4B7A48
Amarelo: #FAB916
*/

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E1E;
    --primary: #E9ECEF;
    --btn-text: #FFFFFF;
    --btn-primary: #F97316;
    --success: #4B7A48;
    --alert: #FAB916;
  }
}

.clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
}


body {
  background: var(--background);
  color: var(--primary);
}